* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: silver;
}

.header {
    padding: 25px;
    font-family: 'Helvetica' , 'Lucida Sana Unicode' , 'Courier New' , sans-serif;
    background-color: rgb(99, 99, 239);
    color: rgb(229, 216, 216);
}

.header h1 {
    display: inline-block;
    font-size: 45px;
    margin-left: 40px;
}

.header nav {
    padding-top: 15px;
    margin-right: 40px;
    float: right;
    font-family: 'Arial' , 'Helvetica' , sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline;
    margin-left: 15px;
}

a{
    color: rgb(229, 216, 216);
    text-decoration: underline;
}

.picture {
    height: 280px;
    width: 100%;
    margin-bottom: 15px;
    background-image: url(../images/academic-background.jpg);
    background-size: cover;
    background-position: center;
}

figure {
    padding: 10px;
}

.picture h2 {
    padding-top: 190px;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Verdana' , 'Geneva' , 'Tahoma' , sans-serif;
    color:rgb(229, 216, 216);
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.section-title {
    font-size: 40px;
    font-family: 'Comic Sans MS', 'Comic Sans' , sans-serif;
    color: rgb(99, 99, 239);
    margin-left: 80px;
    width: 0%;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(99, 99, 239);
    text-align: left;
    margin-right: 480px;
    margin-top: 30px;
}