* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: silver;
}
/* style for the header*/
.header {
    padding: 15px;
    font-family: 'Helvetica' , 'Lucida Sana Unicode' , 'Courier New' , sans-serif;
    background-color: rgb(99, 99, 239);
    color: rgb(229, 216, 216);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header h1 {
    display: inline-block;
    font-size: 45px;
    margin-left: 40px;
}

.header nav {
    padding-top: 15px;
    margin-right: 10px;
    float: right;
    font-family: 'Arial' , 'Helvetica' , sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline;
    margin-left: 15px;
}

a{
    color: rgb(229, 216, 216);
    text-decoration: underline;
    margin: 0px 20px;
    text-decoration: none;
    border-bottom: 3px solid;
}
/* style to the picture*/
.picture {
    height: 280px;
    width: 100%;
    margin-bottom: 15px;
    background-image: url(../images/academic-background.jpg);
    background-size: cover;
    background-position: center;
}

figure {
    padding: 10px;
}

.picture h2 {
    padding-top: 190px;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Verdana' , 'Geneva' , 'Tahoma' , sans-serif;
    color:rgb(229, 216, 216);
}
/*style to the about me section*/
section {
    padding: 10px;
}
.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.flex-box {
    display: flex;
    justify-content: left;
}

.section-title {
    font-size: 40px;
    font-family: 'Comic Sans MS', 'Comic Sans' , sans-serif;
    color: rgb(99, 99, 239);
    margin-left: 90px;
    width: 0%;
    margin-bottom: 140px;
}
.line-1 {
    border-right: 5px solid #1c6f78;
    height: 120px;
    flex: 0 18%;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(99, 99, 239);
    text-align: left;
    margin-right: 230px;
    margin-top: 0px;
    line-height: 1.2;
}
/*style for work section */

.section-info {
    display: flex;
    flex-wrap: wrap;
}

.line-2 {
    border-right: 5px solid #1c6f78;
    height: 470px;
    margin-right: 36px;
}
/* style for the images of the work section*/

.work {
    display: flex;
    margin-right: -68px;
    float: left;
}

.work img {
    max-height: 200px;
    border: solid 1px rgb(26, 26, 82);
}


figcaption {
    position: absolute;
    margin-left: 8px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(164, 222, 241);
    border: solid 1px rgb(26, 26, 82);

}

.figure-3 {
    position: relative;
    bottom: -230px;
    right: 470px;
}

/* style for the conatct me section*/

.contact-me-info {
    flex: 150;
}

.line-3 {
    border-right: 5px solid #1c6f78;
    height: 100px;
    margin-right: 36px;
}

.contact-me-info ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.contact-me-info ul a {
    margin: 0 30px;
    font-size: 22px;
    color: rgb(99, 99, 239);
    text-decoration: none;
    border-bottom: 3px solid;
    padding-bottom: 2px;
}
}

